@import "tailwindcss";

/* Dina styles EFTER tailwind-importen */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

#main-content {
  margin-top: 21rem;
}

@media (max-width: 62rem) {
  #main-content {
    margin-top: 19rem;
  }
}