/* Hero Section Wrapper */
#page-section {
  position: relative;
  background-color: #dadada;
}

.page-section.slider {
  padding: 0;
  margin: 0;
  position: relative;
}

.page-section.slider .container.full-width {
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.main-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.index-welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 1.25rem;
}

#index-welcome-title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3.125rem 0 1.25rem 0;
}

#index-welcome-title > h1 {
  color: black;
  background-color: rgb(228, 190, 67);
  width: 17.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-radius: 0.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 2.1rem;
}

#index-title-name {
  font-family: 'Inter', sans-serif;
  font-size: 5.3125rem;
  font-weight: 700;
  color: black;
}

#main-title-undertext {
  padding: 3.125rem 0 4.375rem 0;
  font-size: 1.875rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Nunito Sans';
}

#index-intro-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  width: 70%;
  max-width: 79rem;
  font-size: 1.3125rem;
  line-height: 2.5rem;
  padding-bottom: 3.5rem;
}


@media (max-width: 61.9375rem) {
  .content-area {
    padding-top: 0;
  }
}

@media (max-width: 30rem) {
  .main-slider {
    min-height: 20rem;
  }

  #index-welcome-title > h1 {
    width: 17.5rem;
    font-size: 1.7rem;
  }

  #index-title-name {
    font-size: 2.9125rem;
    font-weight: 700;
    text-align: center;
  }

  #main-title-undertext {
    padding: 3.125rem 0 2.775rem 0;
    font-size: 1.575rem;
  }

  #index-intro-description {
    font-weight: 400;
    width: 99%;
    font-size: 1.1125rem;
    line-height: 2.2rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-height: 30rem) and (orientation: landscape) {
  .main-slider {
    height: 90vh;
    min-height: 18.75rem;
  }
}